.wrapper {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

/* Header */
header {
	display: flex;
	flex-direction: column;
}

.headerTitle {
	font-size: 45px;
}

figure {
	display: flex;
	justify-content: space-between;
}

.profileImage {
	height: 60px;
	width: 60px;
	border-radius: 15px;
}

.subTitle {
	font-size: 18px;
	color: #6a6a6a;
	font-weight: 400;
}

/* Main */
